<section class="Elsewhere">

  <h2 class="section-title mb-1 mt-2"><span>Around</span><br>the Web</h2>

  <div class="Elsewhere__wrap">
    <p class="mt-1 mb-1"><a href="https://medium.com/envoy-design/meet-keaton-taylor-product-designer-ce132b66479a">Envoy.Design: Meet Keaton Taylor, Product Designer<span>→</span></a></p>

    <p class="mt-1 mb-1"><a href="https://medium.com/envoy-design/six-thoughts-on-seven-years-of-working-remotely-cef69b08cd72">Six thoughts on seven years of remote work<span>→</span></a></p>

    <p class="mt-1 mb-1"><a href="https://remotemakers.co/interviews/keaton-taylor-product-designer-at-envoy/">Interview with Remote Makers<span>→</span></a></p>

    <p class="mt-1 mb-1"><a href="https://malibucreative.net/working-from-home/">Working from home with Malibu Creative in Wichita, KS<span>→</span></a></p>

    <p class="mt-1 mb-1"><a href="https://medium.com/@keaton_taylor/advertising-is-only-evil-if-you-do-it-like-a-supervillain-52d49a1b3489">Advertising is only evil if you do it like a supervillain<span>→</span></a></p>

    <p class="mt-1 mb-1"><a href="https://medium.com/@keaton_taylor/design-business-are-inherently-linked-ec9eaa0eebf8">Design and <strike>people</strike> business are inherently linked(?)<span>→</span></a></p>
  </div>
</section>
