    <footer class="bg-white py-8">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <small class="text-sm text-gray-100 font-bold text-center justify-center">
          All work and words by Keaton Taylor &copy; {{ site.time | date: '%Y' }}
        </small>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
      // Initialize Fancybox
      $(document).ready(function() {
        $('.image-link').fancybox({
          closeOnContentClick: true,
          closeBtnInside: false,
          fixedContentPos: true,
          mainClass: 'fancybox-no-margins fancybox-with-zoom'
        });

        // Smooth scroll
        $('.smooth-goto').on('click', function(event) {
          event.preventDefault();
          var targetOffset = $(this.hash).offset().top - 50;
          $('html, body').animate({scrollTop: targetOffset}, 1000);
        });
      });
    </script>
  </body>
</html>
