    <footer>
      <section 
        class="grid py-2 text-center items-center grid-cols-1 md:grid-flow-row md:grid-cols-2 md:gap-4 md:flex md:max-w-2xl md:mx-auto md:px-0"
      >

        <small class="DateTime text-base font-normal py-2">All work and words by Keaton Taylor &copy; {{ site.time | date: '%Y' }}</small>

        <ul class="grid grid-cols-3 justify-items-center md:pb-0 md:ml-auto">
          <li class="w-10">
            <a fill="#fff" class="px-2 py-4 md:py-1 flex items-center justify-center" href="https://www.twitter.com/keaton_taylor" target="_blank" rel="noopener">
            {% include icon--bird.svg %}
            </a>
          </li>
          <li class="w-10">
            <a fill="#fff" class="block px-2 py-4 md:py-1 flex items-center justify-center" href="https://www.linkedin.com/in/keatontaylor/" target="_blank" rel="noopener">
            {% include icon--linkedin.svg %}
            </a>
          </li>
          <li class="w-10">
            <a fill="#fff" stroke="#fff" class="block px-2 py-4 md:py-1 flex items-center justify-center" href="https://read.cv/keaton" target="_blank" rel="noopener">
            {% include icon--readcv.svg %}
            </a>
          </li>
        </ul>
      </section>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script>
        // Initialize Magnific Popup
        $(document).ready(function() {
          $('.image-link').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            closeBtnInside: false,
            fixedContentPos: true,
            mainClass: 'mfp-no-margins mfp-with-zoom',   // class to remove default margin from left and right side
          });
        });
        <script>
          $(document).on('click', '.smooth-goto', function(event) {
            event.preventDefault();
            var targetOffset = $(this.hash).offset().top - 50;
            $('html, body').animate({scrollTop: targetOffset}, 1000);
          });
        </script>
    </script>


  </body>
</html>
