<!-- <div class="grid grid-flow-col bg-gray-100 justify-center py-2">
  <p class="text-sm lg:text-base"> <span class="text-gray-600">I'm listening to:</span> Country - Medium Build</p>
</div> -->

<section class="overflow-hidden">
  <header class="px-4 text-gray-800 md:max-w-2xl md:mx-auto md:px-0 ">
    <section>
      <div class="md:max-w-2xl pb-8">
        <h1 class="pb-4 text-3xl font-bold">Hi, I'm Keaton.</h1>
        <p class="pb-4 text-xl leading-relaxed">I’m leading growth design at <a class="font-medium pinkjoy" href="www.soundstripe.com">Soundstripe</a>. Before that, I worked on the Activity and Platform teams at <a class="font-medium discord" href="www.discordapp.com">Discord</a> and even further back i worked at places like <a class="font-medium envoy" href="www.envoy.com">Envoy</a> and <a class="font-medium treehouse" href="www.teamtreehouse.com.com">Treehouse</a>.</p>
        
        <p class="pb-4 text-xl leading-relaxed">In real life, I’m married to the coolest woman I’ve ever met and I have 4 pretty rad kids. We live in Wichita, Kansas, and we like it here.</p>

        <p class="pb-4 text-lg leading-relaxed">I love talking shop so feel free to hit me up on <a href="www.twitter.com/keaton_taylor">Twitter</a>, <a href="www.instagram.com/keaton_taylor">Instagram</a>, or in real life if you make your way to Wichita. </p>
      </div>
    </section>
  </header>
