<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keaton Taylor - Product Designer and front-end dabbler </title>
    <meta name="description" content="Keaton taylor is a product designer with nearly 15 years of experience crafting websites, mobile apps, and software focused on solving business and user problems at scale.">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <meta name+" keywords" content="Product Design, UX/UI Design, Design Leadership, DesignOps, Cross-Functional Collaboration, Remote Team Management, Figma, Prototyping, User Interviews, Accessibility Design (a11y), Conversion Optimization, Revenue Growth, Startups, SaaS Products, Mobile App Design, Design Systems, Design Thinking, Interaction Design, User Experience Principles, Design Strategy, Design Innovation, Design Education, Customer-Centric Design, Data-Driven Design, Design for Enterprise, Branding, Design for Social Media, Design for Marketplaces, Front-End Development, React "/>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!-- Include Fancybox CSS and JS files in the head of your HTML document -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FT2P0EF2F1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FT2P0EF2F1');
  </script>
  <body class="text-slate-700">
    <!-- Move the scripts to the bottom of the body -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </body>
</html>
