<div class="bg-gray-50 py-24">
  <section id="principles" class="max-w-5xl lg:max-w-7xl px-4 md:px-8 mx-auto">
    <!-- Intro/Title Section -->
    <div class="max-w-xl mb-16">
      <h2 class="text-4xl font-bold text-gray-900 mb-6">Principles</h2>
      <p class="text-lg text-gray-600">
        Some simple statements on what I believe to be true about the ups and downs of making things with and for human beings. 
        Not hard and fast rules or even guidelines. Just mantras of sorts to keep me grounded in my practice.
      </p>
    </div>

    <!-- Principles Grid -->
    <div class="grid md:grid-cols-2 gap-8 md:gap-12">
      {% for item in site.data.principles %}
        <div class="border-l-2 border-solid border-gray-600 pl-6 group ">
          <h4 class="text-lg font-semibold text-gray-900 mb-2">
            {{ item.title }}
          </h4>
          <p class="text-gray-600">
            {{ item.description }}
          </p>
        </div>
      {% endfor %}
    </div>
  </section>
</div>

