<div class="container__large">
  <header class="SiteHeader">

    <div class="SiteHeader__name">
      <h1 class="m-0"><a href="/"><span>Keaton</span> Taylor</a></h1>
    </div>

    <div class="SiteHeader__nav">
      <ul class="SiteHeader__nav-items no-bull p-0">
        <li class="SiteHeader__nav-item icon github">
          <a href="https://www.github.com/keaton-taylor" target="_blank" rel="noopener">
            {% include icon--github.svg %}
          </a>
        </li>

        <li class="SiteHeader__nav-item icon dribbble">
          <a href="https://www.dribbble.com/keaton_taylor" target="_blank" rel="noopener">
            {% include icon--dribbble.svg %}
          </a>
        </li>
        <li class="SiteHeader__nav-item icon twitter">
          <a href="https://www.twitter.com/keaton_taylor" target="_blank" rel="noopener">
            {% include icon--twitter.svg %}
          </a>
        </li>

        <li class="SiteHeader__nav-item icon medium">
          <a href="https://medium.com/@keaton_taylor" target="_blank" rel="noopener">
            {% include icon--medium.svg %}
          </a>
        </li>

        <li class="SiteHeader__nav-item icon linkedin">
          <a href="https://www.linkedin.com/in/keatontaylor/" target="_blank" rel="noopener">
            {% include icon--linkedin.svg %}
          </a>
        </li>

        <li class="SiteHeader__nav-item icon resume">
          <a href="https://read.cv/keatontaylor" target="_blank">
            {% include icon--resume.svg %}
          </a>
        </li>
      </ul>
    </div>
  </header>
</div>
