
<div class="bg-gray-900 px-4 pb-16">
  <section class="pb-4 pt-8 pl-4 pr-0 -z-10">
    <div class="lg:px-0 pb-12 pt-4 max-w-2xl mx-auto relative">
      <h2 id="thoughts" class="smooth-goto -top-10 absolute text-gray-600 text-[6rem] font-semibold md:top-[-.12em] md:left-[-60px] z-0 leading-tight overflow-hidden pr-0">Thought Larder</h2>
    </div>
  </section>

  <section class="max-w-2xl mx-auto md:px-4">
    <ul class="rounded-xl relative grid grid-cols-1 mx-auto">
    {% for blog in site.data.blog %}
      <li class="mb-4 grid pb-4"> 
        <p class="text-xs font-bold uppercase">{{blog.kicker}}</p>
        <a class="hover:text-gray-300 hover:underline" href="{{ blog.permalink }}">
          <p class="smooth-goto text-2xl">{{ blog.title }}</p>
          {%if blog.subtitle%}
          <p class="text-sm font-medium">{{ blog.subtitle }}</p>
          {% else %}
          {% endif %}
        </a>
      </li>
    {% endfor %}
    </ul>
  </section>
</div>