<section class="max-w-3xl py-6 mx-auto md:p-8 md:bg-gray-50 md:rounded-2xl md:shadow-lg mb-12 not-prose">

  <!-- Project Details - Using flex instead of grid to hug content -->
  <div class="flex flex-col md:flex-row gap-6 lg:gap-24 pb-8">
    <div class="w-auto lg:w-auto">
      <h3 class="text-sm font-medium text-gray-500 uppercase tracking-wider mb-2">Role</h3>
      <p class="text-gray-900 text-base whitespace-nowrap">{{ page.role }}</p>
    </div>
    <div class="w-auto md:w-auto">
      <h3 class="text-sm font-medium text-gray-500 uppercase tracking-wider mb-2">Year</h3>
      <p class="text-gray-900 text-base whitespace-nowrap">{{ page.year }}</p>
    </div>
    <div class="w-auto lg:w-auto">
      <h3 class="text-sm font-medium text-gray-500 uppercase tracking-wider mb-2">Team</h3>
      <p class="text-gray-900 text-base whitespace-nowrap">{{ page.team }}</p>
    </div>
  </div>

  <!-- Responsibilities Section -->
  <div>
    <h3 class="text-sm font-medium text-gray-500 uppercase tracking-wider mb-2">Outcomes</h3>
    <p class="text-gray-900 text-base ">{{ page.responsibilities }}</p>
  </div>
</section>
