<section class="max-w-2xl px-4 md:p-8 mx-auto md:bg-gray-50 rounded-2xl md:shadow-md mb-8">
  <section class="grid md:grid-flow-col md:auto-cols-fr md:border-b-2 border-gray-400">
    <div class="py-2 md:pr-4 md:pb-4 md:pt-0 md:col-span-3">
      <small class="text-gray-500 font-bold">SUMMARY</small>
      <p> {{ page.summary }} </p>
    </div>
  </section>
  <section class="grid grid-cols-1 md:grid-flow-col md:border-b-2 border-gray-400">
    <div class="py-2 md:pr-4 md:py-4 md:border-r-2 border-gray-400">
      <small class="text-gray-500 font-bold">ROLE</small>
      <p> {{ page.role }} </p>
    </div>
    <div class="py-2 md:p-4 md:border-r-2 border-gray-400">
      <small class="text-gray-500 font-bold">YEAR</small>
      <p> {{ page.year }} </p>
    </div>
    <div class="py-2 md:pl-4 md:py-4 border-gray-400">
      <small class="text-gray-500 font-bold">TEAM</small>
      <p> {{ page.team }} </p>
    </div>
  </section>
  <section class="grid grid-cols-1 md:grid-flow-col md:auto-cols-fr">
    <div class="py-2 md:pt-4 md:pb-0">
      <small class="text-gray-500 font-bold">RESPONSIBILITIES</small>
      <p> {{ page.responsibility }} </p>
    </div>
  </section>
</section>
