<div class="ValuesSection">
  <h3 class="ValuesSection__title mt-2 mb-1"><span>Core</span><br>Values</h3>
    <div class="ValuesSection__values">
      <div>
        <div class="ValuesSection__values-item">
          <div class="ValuesSection__values-content">
            <div class="bar"></div>
            <h4>People First</h4>
            <p class="m-0">People problems are the next frontier and they're much harder.</p>
          </div>
        </div>

        <div class="ValuesSection__values-item">
          <div class="ValuesSection__values-content">
            <div class="bar"></div>
            <h4>Data Informed</h4>
            <p class="m-0">Human beings flesh out the narrative that quant data sets.</p>
          </div>
        </div>

        <div class="ValuesSection__values-item">
          <div class="ValuesSection__values-content">
            <div class="bar"></div>
            <h4>Do the Work</h4>
            <p class="m-0">Be good, do good and the universe reciprocates. Don't back down.</p>
          </div>
        </div>
      </div>

      <div>
        <div class="ValuesSection__values-item">
          <div class="ValuesSection__values-content">
            <div class="bar"></div>
            <h4>No Heroes</h4>
            <p class="m-0">No Heroes, No martyrs, No person left behind. Teams fight together.</p>
          </div>
        </div>

        <div class="ValuesSection__values-item">
          <div class="ValuesSection__values-content">
            <div class="bar"></div>
            <h4>Small Wins</h4>
            <p class="m-0">Strive for a big victory through small wins. Everyone pitches in.</p>
          </div>
        </div>

      <div class="ValuesSection__values-item">
        <div class="ValuesSection__values-content">
          <div class="bar"></div>
          <h4>Eat Last</h4>
          <p class="m-0">Leaders aren't always defined by titles. they always lead by example.</p>
        </div>
      </div>
    </div>
  </div>
</div>
