<section class="bg-slate-800 py-16 text-white px-4">

  <div class="grid md:grid-cols-6 max-w-7xl mx-auto gap-8 md:gap-16">

    <div class="text-center md:text-left mb-6 col-span-6 md:col-span-2">
      <h2 class="text-2xl font-semibold mb-2 md:mt-16">Values and methodology</h2>
      <p class="" >These are some general notes on how I work and things I believe about how I work. This list is non-exhaustive. I'll likely add to it over time.</p>
    </div>

    <div class="col-span-6 md:col-span-4">
      <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="md:px-4">
          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">Lead at Every Level</h4>
            <p class="">Leaders aren't defined by titles. Lead fearlessly by example. It's scary. Keep going.</p>
          </div>

          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">Data Informed</h4>
            <p class="">Human beings flesh out the narrative that quant data sets.</p>
          </div>

          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">Do the Work</h4>
            <p class="">Be good, do good, don't back down. The universe reciprocates positive output.</p>
          </div>
        </div>

        <div class="md:px-4">
          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">No Heroes</h4>
            <p class="">No Heroes, No martyrs, No person left behind. Teams win together through collaboration.</p>
          </div>

          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">Small Wins</h4>
            <p class="">Strive for a big victory through small wins. Everyone pitches in.</p>
          </div>

          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">People First</h4>
            <p class="">Relationships are worth more than pixels and code. Treat them as such.</p>
          </div>
        </div>
        <div class="md:px-4">
          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">Strip Out the Clever</h4>
            <p class="">Choose simplicity and clarity over cleverness. You're never nearly as clever as you think.</p>
          </div>

          <div class="border-l-2 pl-4 mb-8">

          </div>

          <div class="border-l-2 pl-4 mb-8">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>