<section class="text-slate-800 pt-16 pb-8 px-4">
  <div class="max-w-7xl mx-auto gap-8 lg:grid lg:grid-cols-3">
    <div class="lg:col-span-1 lg:mt-16 mb-6 lg:mb-0">
      <h2 class="text-2xl font-semibold mb-2">Principles and methodology</h2>
      <p>Some notes on what I believe to be true about the ups and downs of making things with and for human beings.</p>
    </div>
    <div class="lg:col-span-2">
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8">
        {% for item in site.data.principles %}
          <div class="border-l-2 pl-4 mb-8">
            <h4 class="font-semibold">{{ item.title }}</h4>
            <p>{{ item.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
