<div class="w-full max-h-screen grid place-items-center">
  <div class="grid grid-cols-3 gap-12 transform">
    <!-- Column 1 -->
    <div class="grid gap-6 transform translate-y-12 lg:max-h-[170px] xl:max-h-[480px]">
      <img src="images/soundstripe/upsell.jpeg" alt="Soundstripe work example" class="w-full rounded-xl shadow-lg">
      <img src="images/backyard/backyard.png" alt="Discord work example" class="w-full rounded-xl shadow-lg">
      <img src="images/discord/explorations3.png" alt="Soundstripe work example" class="w-full rounded-xl shadow-lg">
    </div>
    
    <!-- Column 2 -->
    <div class="grid gap-6 transform -translate-y-12 max-h-[640px]">
      <img src="images/discord/ActivityShelf 1.png" alt="Discord work example" class="w-full rounded-xl shadow-lg">
      <img src="images/envoy/proximity.gif" alt="Envoy work example" class="w-full rounded-xl shadow-lg">
      <img src="images/mealthy/mealthyhome.png" alt="Treehouse work example" class="w-full rounded-xl shadow-lg">
    </div>

    <!-- Column 3 -->
    <div class="grid gap-6 translate-y-36 lg:max-h-[120px] xl:max-h-[230px]">
      <img src="images/treehouse/treehousebadges.png" alt="Soundstripe work example" class="w-full rounded-xl shadow-lg">
      <img src="images/backyard/backyardmobile.png" alt="Discord work example" class="w-full rounded-xl shadow-lg">
    </div>
  </div>
</div> 