<div class="w-full max-h-screen grid place-items-center">
  <div class="grid grid-cols-3 gap-12 transform">
    <!-- Column 1 -->
    <div class="grid gap-6 transform translate-y-12 lg:max-h-[170px] xl:max-h-[480px]">
      <img src="{{ '/assets/images/Soundstripe/upsell.jpeg' | relative_url }}" alt="Soundstripe work example" class="w-full rounded-xl shadow-lg" loading="lazy" width="400" height="300">
      <img src="{{ '/assets/images/backyard/backyard.png' | relative_url }}" alt="Backyard work example" class="w-full rounded-xl shadow-lg" loading="lazy" width="400" height="300">
      <img src="{{ '/assets/images/discord/explorations3.png' | relative_url }}" alt="Discord work example" class="w-full rounded-xl shadow-lg" loading="lazy" width="400" height="300">
    </div>
    
    <!-- Column 2 -->
    <div class="grid gap-6 transform -translate-y-12 max-h-[640px]">
      <img src="{{ '/assets/images/discord/ActivityShelf 1.png' | relative_url }}" alt="Discord Activities work example" class="w-full rounded-xl shadow-lg" loading="lazy" width="400" height="600">
      <img src="{{ '/assets/images/envoy/proximity.gif' | relative_url }}" alt="Envoy work example" class="w-full rounded-xl" loading="lazy" width="400" height="300">
      <img src="{{ '/assets/images/mealthy/mealthyhome.png' | relative_url }}" alt="Mealthy work example" class="w-full rounded-xl shadow-lg" loading="lazy" width="400" height="300">
    </div>
    
    <!-- Column 3 -->
    <div class="grid gap-6 translate-y-36 lg:max-h-[120px] xl:max-h-[230px]">
      <img src="{{ '/assets/images/treehouse/treehousebadges.png' | relative_url }}" alt="Treehouse work example" class="w-full rounded-xl shadow-lg" loading="lazy" width="400" height="200">
      <img src="{{ '/assets/images/backyard/backyardmobile.png' | relative_url }}" alt="Backyard mobile work example" class="w-full rounded-xl shadow-lg" loading="lazy" width="400" height="200">
    </div>
  </div>
</div>