<section class="max-w-3xl px-4 my-16 grid grid-cols-1 gap-4 mx-auto" id="main">

  <div class="grid justify-center">
    <h2 class="text-slate-800 text-2xl font-semibold text-center mb-2">Selected projects</h2>
    <p class="text-slate-500 text-center text-md mb-6 max-w-2xl">My best work is built on the ability of a team from different functions to come together and work harmoniously as a single unit. No work is done in a vacuum and none of this was singularly "my" work. Just want to put that out there. I stand on the shoulders of every person I've been on a team with over the years and likely, so do you.</p>
  </div>

  <section class="grid gap-8 grid-col-1 p-8 rounded-xl from-gray-100 to-purple-100 bg-gradient-to-br sm:grid-cols-2 sm:gap-16 md:mx-auto mb-8 drop-shadow-md hover:drop-shadow-xl hover:ease-in-out hover:duration-300">
    <div class="self-start md:order-2">
      <img class="mb-2" src="/images/Discord-logo.png" width="180px">
      <h2 class="text-xl font-semibold mb-1">Discord Activities</h2>
      <small class="text-slate-500 mb-1">Mid-2021 - Present</small>
      <p class="text-sm">We brought startup culture and process to Discord in the form of a new Platform Ecosystem team. We altered the platform to bring casual games to Discord Voice Channels.</p>
    </div>
    <div class="h-full overflow-hidden align-middle">
      <img class="md:order-1 rounded-md" src="/images/discord.png">
    </div>
  </section>

  <section class="grid gap-8 grid-col-1 p-8 rounded-xl from-gray-100 to-indigo-100 bg-gradient-to-br sm:grid-cols-2 sm:gap-16 md:mx-auto mb-8 drop-shadow-md hover:drop-shadow-xl hover:ease-in-out hover:duration-300">
    <div class="self-start md:order-2">
      <img class="mb-2" src="/images/dark-logo-lockup.png" width="180px">
      <h2 class="text-xl font-semibold mb-1">Building a communication platform from scratch</h2>
      <small class="text-slate-500 mb-1">Early 2021</small>
      <p class="text-sm">I joined a 30 person startup that was acquired by Discord in just over a year. We built a text, voice, and video platform more or less from scratch to ~1m MAU's.</p>
    </div>
    <div class="h-full overflow-hidden">
      <img class="md:order-1" src="/images/backyard.png">
    </div>
  </section>

  <section class="grid gap-8 grid-col-1 px-8 pt-8 pb-0 rounded-xl from-gray-100 to-red-100 bg-gradient-to-br sm:grid-cols-2 sm:gap-16 md:mx-auto mb-8 drop-shadow-md hover:drop-shadow-xl hover:ease-in-out hover:duration-300">
    <div class="self-start md:order-2">
      <img class="mb-2" src="/images/envoylogo.png" width="96px">
      <h2 class="text-xl font-semibold mb-1">Multi-Day Booking & Health Checks</h2>
      <small class="text-slate-500 mb-1">Late 2020</small>
      <p class="text-sm">I spent the latter part of my time at Envoy designing the early version of what would become Envoy's onsite scheduling app.</p>
    </div>
    <div class="h-80 overflow-hidden">
      <img class="md:order-1" src="/images/EnvoyMobile.png">
    </div>
  </section>

  <section class="grid gap-8 grid-col-1 px-8 pt-8 rounded-xl from-gray-100 to-red-100 bg-gradient-to-br sm:grid-cols-2 sm:gap-16 md:mx-auto mb-8 drop-shadow-md hover:drop-shadow-xl hover:ease-in-out hover:duration-300">
    <div class="self-start md:order-2">
      <img class="mb-2" src="/images/envoylogo.png" width="96px">
      <h2 class="text-xl font-semibold mb-1">Proximity Requirement</h2>
      <small class="text-slate-500 mb-1">Early 2020</small>
      <p class="text-sm">Envoy began testing BLE beacons to allow people to check in touchlessly in early 2020. I worked on the UI showing folks that they had to have location services active on iOS.</p>
    </div>
    <div class="h-80 overflow-hidden">
      <img class="md:order-1" src="/images/EnvoyMobile2.png">
    </div>
  </section>

</section>