@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { 
    position: relative; 
    min-height: 100dvh;
  }

  :root {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }

  /* Use @font-face to define the font with font-display */
  @font-face {
    font-family: 'Inter';
    src: url('https://rsms.me/inter/inter.woff2') format('woff2');
    font-display: swap; /* This helps reduce FOUT */
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: 'InterVariable', sans-serif;
    }
  }
}

@layer components {
  footer {
    background: linear-gradient(-45deg, #FF277D, #5865F2, #5fcf80, #fa4338);
    background-size: 200% 200%;
    animation: gradient 10s ease-in-out infinite;
  }

  footer .DateTime {
    color: white;
  }

  li a {
    transition: 0.3s;
  }

  li a:hover {
    transition: 0.2s ease-in-out;
  }

  img.old {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .discord  {
    color: #5865F2;
  }
  .discord:hover {
    color: #B377F3;
  }

  .pinkjoy {
    color: #FF277D;
  }
  .pinkjoy:hover {
    color: #C22459;
  }

  .envoy {
    color: #fa4338;
  }
  .envoy:hover {
    color: #fa4338A0;
  }

  .treehouse {
    color: #5fcf80;
  }
  .treehouse:hover {
    color: #5fcf80A0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  h2.absolute {
    max-width: stretch;
  }
}

/* Write your styles above this line. */
