{% include head.html %}


{% include header.html %}


  <section class="bg-slate-100 pb-16 pt-8 px-4">

    <div class="lg:px-0 pb-12 pt-4 max-w-5xl mx-auto">
      <p class="text-slate-700 text-left font-bold md:text-xl md:text-center md:col-start-2 md:col-span-2 ">My best work is built on the ability of a team from different functions to come together and work harmoniously as a single unit. No work is done in a vacuum and none of this was singularly "my" work. Just want to put that out there. I stand on the shoulders of every person I've been on a team with over the years and likely, so do you.</p>
    </div>


    <section class="grid grid-cols-1 gap-6 mb-6 mx-auto md:grid-cols-6">
      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-1 md:col-span-2">
        <a href="/discord-activities.html">
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/discord/ActivityShelf.gif" height="105%" alt="a gif showing the activity shelf opening and a game being selected.">
          <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/discord/Discord-logo.png" width="20%" alt="">
        </a>
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-3 md:col-span-2 ">
        <!-- <a href="   > -->
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/discord/BirthdayConcept - null.png" alt="Discord's eighth Birthday landing page">
          <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/discord/Discord-logo.png" width="20%" alt="">
        <!-- </a> -->
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-5 md:col-span-2 ">
        <!-- <a href="https://www.techradar.com/features/discord-activities-might-be-its-most-ingenious-addition-yet"> -->
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/discord/viralloops.gif" height="100%" alt="a gif showing a game opening the new social sharing feature we built.">
          <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/discord/Discord-logo.png" width="20%" alt="">
        <!-- </a> -->
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-1 md:col-span-2 ">
        <a href="/backyard.html" >
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/backyard/backyardmobile.png" alt="The design of our V0 mobile app at Backyard.">
          <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/backyard/backyardlogo.png" width="20%" alt="">
        </a>
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-3 md:col-span-2 ">
        <a href="/envoy.html"">
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/envoy/EnvoyMobile.png" alt="Our community spaces product we shipped and quickly rolled back.">
          <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/envoy/envoylogo.png" width="20%" alt="">
        </a>
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-5 md:col-span-2 ">
        <a href="/mealthy.html" >
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/mealthy/mealthyhome.png" alt="Mobile work I did for Envoy on our pandemic reponse.">
          <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/mealthy/Mealthy.png" width="20%" alt="">
        </a>
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-1 md:col-span-2 ">
        <a href="treehouse-techdegree.html" >
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/treehouse/TechdegreeTwo.png" alt="The design of our V0 mobile app at Backyard.">
          <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/treehouse/treehouse.png" width="25%" alt="">
        </a>
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-3 md:col-span-2 ">
        <a href="/other.html"">
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/Frame 3.png" alt="Our community spaces product we shipped and quickly rolled back.">
          <!-- <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/envoy/envoylogo.png" width="20%" alt=""> -->
        </a>
      </figure>

      <figure class="rounded-xl relative col-start-1 col-span-3 md:col-start-5 md:col-span-2 ">
        <a href="/web.html" >
          <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="images/Web.png" alt="Mobile work I did for Envoy on our pandemic reponse.">
          <!-- <img class="absolute top-2 right-2 md:top-4 md:right-4" src="images/mealthy/Mealthy.png" width="20%" alt=""> -->
        </a>
      </figure>
    </section>

    <!-- <section class="bg-slate-100 py-16 px-4">
      <section class="grid mx-auto gap-6 md:grid-cols-6 md:max-w-5xl lg:max-w-screen-2xl md:mb-6">
        {% for image in site.data.images %}
          <figure class="rounded-xl relative col-span-3 shadow-md hover:shadow-lg">
            <img class="rounded-xl shadow-md hover:transition-all hover:shadow-lg" src="{{ image.src }}" alt="{{ image.alt }}">
            <img class="absolute top-2 right-2 md:top-4 md:right-4" src="{{ image.logo }}" width="20%" alt="{{ image.alt }}">
          </figure>
        {% endfor %}
      </section>
    </section> -->
  </section>

{% include values.html %}


{% include footer.html %}
