{% include head.html %}

{% include navigation.html %}

<section class="max-w-2xl mx-auto">
  <div class="rounded-xl relative grid grid-cols-1 mx-auto">
    <section class="px-4 text-gray-900 md:max-w-2xl md:mx-auto md:px-0">
      <div class="md:max-w-2xl pb-8 font-regular">
        <p class="pb-6 text-md leading-relaxed">I’m designing for growth at <a class="font-medium pinkjoy" href="www.soundstripe.com">Soundstripe</a>. Before that, I worked on the Activity and Platform teams at <a class="font-medium discord" href="www.discordapp.com">Discord</a> and even further back I worked at places like <a class="font-medium envoy" href="www.envoy.com">Envoy</a> and <a class="font-medium treehouse" href="www.teamtreehouse.com.com">Treehouse</a>. I'm really good at cutting through the noise that makes it hard for small teams to move with conviction and velocity. I really enjoy simplifying systems, developing common sense processes, and producing positive outcomes for design, product, and engineering teams.</p>
  
        <p class="pb-6 text-md leading-relaxed">I love talking shop so feel free to hit me up on <a class="hover:underline" href="www.twitter.com/keaton_taylor">Twitter</a>, <a class="hover:underline" href="www.instagram.com/keaton_taylor">Instagram</a>, or in real life if you make your way to Kansas. </p>
      </div>
    </section>
  </ul>
</section>


{% include work.html %}

{% include thoughts.html %}

{% include principles.html %}

{% include footer.html %}