  {% include head.html %}

    {% include SiteHeaderCV.html %}

      <section class="SeeVee container__large">
        <section class="SeeVee__main">
          <section class="SeeVee__profile mb-2">
            <p class="mb-half">I'm a Product Designer with nearly a decade of experience working with diverse teams at startups and small-to-mid-size companies. Focused on building websites, products, and features across several different business verticals for fun and profit. Striving to create clarity from complexity in B2B and B2C product design. Acting as a culture amplifier, bringing self-awareness and leadership to the teams I work on that fosters and grows cross-functional relationships. Most of all, a fierce advocate for people. I currently live and work in Wichita, Kansas with my wife and four children.</p>
          </section>

          <section class="SeeVee__experience">
            <div class="SeeVee__experience-position">
              <h4>Senior Product Designer @ <a href="https://www.backyard.co">Backyard</a></h4>
              <p>October 2020 - Present | San Francisco, CA (Remote)</p>
              <p>First Senior design hire. Working to increase acquisition and retention for our social casual gaming product.</p>
              <ul>
                <li>Design ops work configuring pattern libraries and working with Engineers to implement a barebones design system.</li>
                <li>Designing and prototyping video, voice and chat communication features</li>
                <li>Interviewing and screening potential hires to grow the design team</li>
                <li>Strategic and “concept car” work on future features and innovation</li>
                <li>Ground up design and collaboration with engineers on a limited release mobile app</li>
              <ul/>
            </div>

          <section class="SeeVee__experience">
            <div class="SeeVee__experience-position">
              <h4>Product Designer @ <a href="https://www.envoy.com">Envoy</a></h4>
              <p>August 2019 - September 2020 | San Francisco, CA (Remote)</p>
              <p>Product Designer at a fast-paced a16z startup focused on B2B products with a B2C sensibility. One of two design owners on the Visitors team and design lead on the Billing team. Collaborating with cross-functional team members building new features, and iterating on existing ones. Creating a positive business impact with design and product strategy. </p>
              <ul>
                <li>Significantly increased Envoy Deliveries ARR through iterations on trial experience.</li>
                <li>Updated self-serve location creation and billing workflow decreasing support tickets 15%</li>
                <li>Led design overhauling the Envoy billing system to accomodate new product launches and customer-focused billing practices.</li>
                <li>Redesigned billing workflow to optimize for managing multiple locations. </li>
              <ul/>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Product Designer @ <a href="https://www.teamtreehouse.com">Treehouse</a></h4>
              <p>March 2019 - June 2019 | Portland, OR (Remote)</p>
              <p>Concepted, designed and shipped features and initiatives to support and advance the core goal of making tech education accessible to everyone. Worked with cross-functional teams on a world-class technology education platform. My main focus was on the Techdegree program.</p>
              <ul>
                <li>Shipped improvements to accessibility through color contrast and submitted those updates to the Design System, making it easier to continue to use those patterns for our team.
                <li>Worked on speculative design sprints to future cast user-friendly monetization plans.
                <li>Designed and deployed several features behind A/B tests improving UX on the Techdegree platform and eventually going into production for all users.
                <li>Techdegree design work directly contributed to ~5% growth in conversion metrics.
              </ul>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Adjunct Instructor - Interaction Design @ <a href="https://www.mssu.edu">Missouri Southern State University</a></h4>
              <p>Jan 2019 - Present | Joplin, MO</p>
              <p>Teach Senior students an introductory course in Design Thinking, User Experience, and Interaction design. Create a dynamic environment where students learn about creating and presenting their work in a collaborative environment.</p>
              <ul>
                <li>Led discussions and technical drills on up-to-date design tools.</li>
                <li>Lecture on the history and practical application of UX principles. </li>
                <li>Led students in classwork that puts principles to work, creating design artifacts like personas, workflows, and journey map (among others). </li>
              </ul>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Web Product Designer @ <a href="https://www.apartmenttherapy.com">Apartment Therapy Media</a></h4>
              <p>Feb 2016 - Feb 2019 | New York, NY (Remote)</p>
              <p>Designer leading the features squad at a top 10 Lifestyle and Cooking editorial company. Working end-to-end on large-scale projects centered around revenue and user experience. Collaborating with writers, editors, advertisers, and engineers.<p>
              <ul>
                <li>Won an IAB MIXX award and netted an ongoing six-figure contract with Sherwin-Williams in partnership with McKinney leading design on ColorSearch. </li>
                <li>Increased story CTR by 35% in the below post areas through A/B testing and teaser design. </li>
                <li>Designed the V1 of new custom content creation dashboard that cut editorial content creation, editing, and scheduling time significantly. </li>
              </ul>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Lead Product Designer @ <a href="https://www.mealthy.com">Mealthy Recipes</a></h4>
              <p>Feb 2017 - Sep 2017 | New York, NY (Remote)</p>
              <p>Led product design for what would become a very successful kitchen technology company. Helped drive exponential growth over year one by launching social media communities, a website, mobile apps, and 4 small appliances. <p>
              <ul>
                <li>Recruited and led the first product/engineering team members, including the eventual CTO, Designers, and Engineers. </li>
                <li>Led design chapter - coaching team members, leading rituals, and defining product direction with C-level partners. </li>
                <li>Contributed UX and visual design on mobile and desktop features like saving recipes, user profiles, and recipe details. </li>
              </ul>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Product Designer @ <a href="https://newsok.com/article/3904073/local-startup-raisemore-courts-investors-while-staying-committed-to-okc">RaiseMore</a></h4>
              <p>Jul 2015 — Mar 2016 | Oklahoma City, OK (Remote)</p>
              <p>UX focused product designer on social fundraising platform. Working with non-profit organizations to make fundraising more social through teams, coaching and shared goals.</p>
              <ul>
                <li>Facilitated early iteration of Design Sprints, helped plan and execute 3-day usability summit with real-world users.</li>
                <li>Worked on usability and visual design around dashboard views for admin users.</li>
                <li>Led Design and prototyping on features like in-app coaching, mobile social sharing, and auditing user onboarding.</li>
              </ul>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Lead Web Designer @ <a href="https://www.bluefishds.com">Blue Fish Design Studio</a></h4>
              <p>Oct 2012 — Feb 2016 | Mobile, AL (Remote)</p>
              <p>Designed mobile-first websites and digital products. Focused on user-centered design and front end practices to deliver reliable and performant experiences to support regional and national brands on the web.</p>
              <ul>
                <li>Designed dozens of mobile-first marketing, admin and ecommerce sites.</li>
                <li>Worked with Intel to design desktop and mobile versions of a photo quality measurement app.</li>
                <li>Collaborated with NOAA Sea Grant locations to modernize the web experiences.</li>
              </ul>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Designer @ <a href="https://www.keaton-taylor.com">Self-Employed</a></h4>
              <p>May 2013 — Oct 2013 | Rockwall, TX & Joplin, MO </p>
              <p>Contract web designer, art director and digital marketer for clients like Thrive Internet Marketing, Bourne Logistics and Art Feeds. Designing websites, ephemera, and social campaigns to support and grow modern businesses.</p>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Graphic Designer @ <a href="https://www.lakepointe.org">Lake Pointe</a></h4>
              <p>Sep 2012 — Jul 2013 | Rockwall, TX</p>
              <p>Print and digital media design specialist at a megachurch in the DFW Metro area. Duties included design for digital screens, prepress print design, and web-ready multimedia.</p>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Web Designer @ Metro Design Loft</h4>
              <p>Dec 2012 — May 2013 | Rockwall, TX</p>
              <p>I worked to grow business through the evaluation of best practices in client interaction, working contracts, and proposals. Designed interactive web experiences. Duties including but not limited to: User Experience planning, responsive HTML and CSS development and User Interface design.</p>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Jr. Front-End Designer @ <a href="https://www.midwesterninteractive.com">Midwestern Interactive</a></h4>
              <p>Dec 2011 — Sep 2012 | Joplin, MO</p>
              <p>Helped design unique web solutions with a team of incredible designers and developers with ExpressionEngine. Worked for local, regional, and national organizations across disciplines.</p>
            </div>

            <div class="SeeVee__experience-position">
              <h4>Graphic Designer @ <a href="https://www.artfeeds.org">Art Feeds</a></h4>
              <p>Jan 2009 — Dec 2011 | Joplin, MO</p>
              <p>Work side-by-side with Founder and CEO to brand, market, and evangelize Art Feeds to educators, parents, and kids in the area. Designed the now-iconic Art Feeds heart hand logo.</p>
            </div>
          </section>
        </section>
      </section>

      <section class="SeeVee__sidebar">
        <section class="SeeVee__sidebar-education mb-2">
          <h4>Missouri Southern State University</h4>
          <p>August 2008 - May 2012 | Joplin, MO</p>
          <p>BFA, Graphic Design (incomplete)</p>
        </section>

        <section class="SeeVee__sidebar-skills mb-2">
          <h4>Skills</h4>
          <ul class="no-bull">
            <li>Low fidelity design </li>
            <li>UI design</li>
            <li>Prototyping</li>
            <li>Wireframing</li>
            <li>Flowcharts</li>
            <li>Analytics research</li>
            <li>User interviews</li>
            <li>Usability testing</li>
            <li>People management</li>
            <li>Storytelling</li>
            <li>Workshops</li>
            <li>Design Sprints</li>
          </ul>
        </section>

        <section class="SeeVee__sidebar-tools mb-2">
          <h4>Tools</h4>
          <ul class="no-bull">
            <li>Sketch</li>
            <li>Figma</li>
            <li>html/(s)css</li>
            <li>Adobe CS</li>
            <li>Ruby on Rails</li>
            <li>React.js</li>
            <li>Jekyll</li>
            <li>Zoom</li>
            <li>Office 360</li>
          </ul>
        </section>
      </section>

  </section>

    {% include PageNavigation.html %}

    {% include footer.html %}
