.ContentHeadline {
  color: $color--darkest-gray;
  font-family: $sans-stack;
  font-weight: 600;
  margin: 32px 0 24px;
  overflow: hidden;

  @include breakpoint(large) {
    font-size: 3em;
  }
}

.ContentArea {
  display: grid;

  .at,
  .th,
  .ath,
  .rm,
  .rmh,
  .m,
  .mh,
  .w,
  .d,
  .en {
    height: 56vh;
    padding: 0;
    width: 98vw;

    @include breakpoint(medium) {
      height: 61vh;
      margin-top: 1.5em;
    }

    @include breakpoint(xlarge) {
      height: 75vh;
    }
  }

  &__main {
    color: $color--darker-gray;
    font-size: 18px;
    line-height: 1.6;

    li {
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 1em;
      }

      & > ul {
        padding-top: 0.5em;
      }
    }

    p {
      font-family: $sans-stack;
      font-size: 18px;
      margin-top: 0;

      & + ul {
        font-family: $sans-stack;
        margin-bottom: 0;
        margin-top: -1em;
        padding: 0 0 0 1.5em;
      }
    }

    h3 {
      color: $color--darkest-gray;
      margin: 1em 0 0.5em;
    }

    h4 {
      font-weight: regular;
      margin: 1rem 0 0;
    }

    img {
      margin: 0.75rem 0 1em;
    }

    hr {
      margin: 4em 0 3em;
    }
  }

  &__data {
    grid-gap: 1em;
    border-bottom: 3px solid $color--dark-gray;
    display: grid;
    grid-template-columns: max-content 100px max-content;
    margin: 1em 0 1em;
    max-width: 100%;

    @include breakpoint(375px) {
      grid-gap: 2em;
      max-width: 65vw;
      padding-bottom: 1.5em;
    }

    @include breakpoint(medium) {
      grid-template-columns: max-content 11rem max-content;
    }

    @include breakpoint(large) {
      max-width: 50vw;
    }

    @include breakpoint(xlarge) {
      grid-template-columns: max-content max-content max-content;
    }


    &-item {
      h4 {
        font-size: 0.8em;
        font-weight: 600;
        margin-bottom: 0;
        padding-bottom: 0.25em;

        @include breakpoint(large) {
          font-size: 1.25em;
        }
      }

      p {
        font-size: 0.8em;
        font-weight: 400;
        margin-top: 0.25em;

        @include breakpoint(large) {
          font-size: 1em;
        }
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint(medium) {
      grid-gap: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }

  .BrightSpotStudents {
    margin: 2rem auto;
    max-width: 350px;
  }

  .color-field__th {
    background-color: #EDEFF0;
  }
}

.InviteOld {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  
  @include breakpoint(medium) {
    grid-template-columns: 33% 66%;
  }
}
