.Elsewhere {
  grid-gap: 1.5rem;
  display: grid;
  min-height: 25em;

  @include breakpoint(medium) {
    grid-gap: 1rem;
    grid-template-rows: max-content 1fr;
    margin-bottom: 0;
    text-align: left;
  }

   @include breakpoint(large) {
    grid-gap: 1.5rem;
    margin: 4rem 0;
  }

  a {
    display: inline-block;
    font-weight: 500;

    span {
      margin-left: 0.5rem;
      transition: $trans--short-out;
    }

    @include breakpoint(large) {
      &:hover {
        span {
          padding-left: 0.5rem;
          transition: $trans--short-out;
        }
      }
    }
  }
}
