$color--gray: #95a5a6;

$color--lighter-gray: lighten($color--gray, 35%);
$color--lighter-gray: lighten($color--gray, 25%);
$color--light-gray: lighten($color--gray, 15%);

$color--dark-gray: darken($color--gray, 25%);
$color--darker-gray: darken($color--gray, 35%);
$color--darkest-gray: darken($color--gray, 45%);

$color--blue: #00c9ff;
$color--green: #00ff98;

$color--github: #4078c0;
$color--twitter: #1da1f2;
$color--linkedin: #0077b5;
$color--dribbble: #ea4c89;
$color--medium: #00ab6c;
$color--resume: #5B2D89;

$trans--long-in: all 500ms ease-in;
$trans--long-out: all 500ms ease-in-out;
$trans--short-in: all 200ms ease-in;
$trans--short-out: all 200ms ease-in-out;

$resting-box: 0 4px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.16);
$active-box: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.16);

.no-shadow {
  box-shadow: none !important;
}

.lg {
  background: $color--light-gray;
}

.gradient {
  @include gradient;
}

.resume {
  fill: $color--resume;
}

.medium {
  fill: $color--medium;
}

.twitter {
  fill: $color--twitter;
}

.dribbble {
  fill: $color--dribbble;
}

.linkedin {
  fill: $color--linkedin;
}

.github {
  fill: $color--github;
}

.bg-none {
  background: none !important;
}

.border--gray {
  border: 1px solid $color--light-gray;
}

.lighter {
  font-weight: lighter;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.lightgray {
  background-color: $color--light-gray;
}

.heavier {
  font-weight: bolder;
}

.m-width {
  max-width: 1400px;
}

.m-auto {
  margin: 0 auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-half {
  margin-bottom: 0.5rem !important;
}

.mt-half {
  margin-top: 0.5rem !important;
}

.mt-quarter {
  margin-top: 0.25rem !important;
}

.mb-quarter {
  margin-bottom: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-2 {
  padding-top: 2em;
}

.p-2 {
  padding: 2rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0-m {
  @include breakpoint(xsmall) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.no-bull {
  list-style: none;
}

.icon {
  fill: $color--darkest-gray !important;
  height: 28px;
  width: 28px;
}

.round {
  border: 6px solid lightblue;
  border-radius: 100%;
}

.hide-small {
  display: none;

  @include breakpoint(medium) {
    display: flex;
  }
}

.hide-large {
  display: flex;

  @include breakpoint(medium) {
    display: none;
  }
}

.button {
  display: inline-block;
  border: 2px solid $color--resume;
  color: $color--resume;
  border-radius: 8px;
  padding: 0.25rem 0.75rem;
  margin-left: 0.5rem;
  transition: all 250ms;
  line-height: 1.25;

  &:hover {
    background-color: $color--resume;
    color: white;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.i {
  font-style: italic;
}

.border {
  border: 2px solid $color--green;
  border-radius: 100%;
}

.TeaserBG {
  background-color: lighten($color--resume, 63%);
}

.show--large {
  display: none;

  @include breakpoint(large) {
    display: grid;
  }
}

.show--small {

  @include breakpoint(medium) {
    display: none;
  }
}

.show--medium {
  display: none;

  @include breakpoint(medium) {
    display: grid;
  }
}

.section-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;

  @include breakpoint(large) {
    font-size: 2rem;
  }

  span {
    color: $color--resume;
  }
}

.at {
  background: #fff url("https://ktportfolio-cdn.sirv.com/img/at-teaser-img.png") no-repeat center center;
  background-size: cover;
}

.ath {
  background: #fff url("https://ktportfolio-cdn.sirv.com/img/at-header-img.png") no-repeat center center;
  background-size: cover;
}

.m {
  background: #fff url("https://ktportfolio-cdn.sirv.com/img/m-teaser-img.png") no-repeat center center;
  background-size: cover;
}

.rm {
  background: #fff url("https://ktportfolio-cdn.sirv.com/img/rm-header-img.png") no-repeat center center;
  background-size: cover;
}

.w {
  background: #fff url("https://ktportfolio-cdn.sirv.com/img/w-header-img.png") no-repeat center center;
  background-size: cover;
}

.r {
  background: url("https://ktportfolio-cdn.sirv.com/img/r-header-img.png") no-repeat center center;
  background-size: cover;
}

.d {
  background: url("https://ktportfolio.sirv.com/img/d-header-img.png") no-repeat center center;
  background-size: cover;
}

.th {
  background: url("https://ktportfolio-cdn.sirv.com/img/th-welcome.png") no-repeat center center;
  background-size: cover;
}

.en {
  background: #f2f2f2 url("https://ktportfolio.sirv.com/img/invite-signin.png") no-repeat center center;
  background-size: contain;
}
