@mixin breakpoint($min: 0, $max: 0) {
  $type: type-of($min);

  @if $type == string {
    @if $min == xsmall {
      @media (max-width: 479px) { @content; }
    }

    @else if $min == small {
      @media (min-width: 480px) { @content; }
    }

    @else if $min == medium {
      @media (min-width: 680px) { @content; }
    }

    @else if $min == medium_only {
      @media (min-width: 680px) and (max-width: 800px) { @content; }
    }

    @else if $min == large {
      @media (min-width: 1023px) { @content; }
    }

    @else if $min == xlarge {
      @media (min-width: 1280px) { @content; }
    }

    @else if $min == xxlarge {
      @media (min-width: 1440px) { @content; }
    }

    @else if $min == xxxlarge {
      @media (min-width: 1600px) { @content; }
    }

    @else if $min == fullscreen {
      @media (min-width: 1919px) and (min-height: 1079px) { @content; }
    }

    @else {
      @warn "Whoops that doesn't work.";
    }
  }
 @else if $type == number {
    // Allow for custom parameters for min and max size
    $query: "all" !default;
    @if      $min != 0 and $max != 0 { $query: "(min-width: #{$min}) and (max-width: #{$max})"; } // set both min and max
    @else if $min != 0 and $max == 0 { $query: "(min-width: #{$min})"; } // set just min
    @else if $min == 0 and $max != 0 { $query: "(max-width: #{$max})"; } // set just max
    @media #{$query} { @content; }
  }
}

@mixin gradient {
  -webkit-animation: DesignValues 10s infinite;
  -moz-animation: DesignValues 10s ease infinite;
  -o-animation: DesignValues 10s ease infinite;
  animation: DesignValues 10s ease infinite;
  background: linear-gradient(1400deg, $color--resume, lighten($color--resume, 25%) );
  background-size: 400% 400%;

  @-webkit-keyframes DesignValues {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @-moz-keyframes DesignValues {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @-o-keyframes DesignValues {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes DesignValues {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}
