.Teaser {
  background-color: #f9f9f9;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  padding-bottom: 2rem;

  @include breakpoint(medium) {
    margin-bottom: 0;
    text-align: left;
  }

  &__section-title {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 600;

    @include breakpoint(large) {
      font-size: 2rem;
    }

    span {
      color: $color--resume;
      font-weight: 600;
    }
  }

  &__wrap {
    border-bottom: 1px dotted $color--resume;
    display: grid;
    padding: 2rem 0;

    &:last-of-type {
      border: none;
      padding-bottom: 0.25rem;
    }


    @include breakpoint(medium) {
      align-items: center;
      grid-template-columns: 1fr 1fr;
      padding:0;
      min-height: 300px;
    }
  }

  &__image {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }


  }

  &__content {
    height: auto;
    margin: auto;
    transition: $trans--short-out;
    width: 100%;
  }

  &__kicker {
    font-size: 14px;
    font-weight: 500;
  }

  &__title {
    color: $color--darkest-gray;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0.25rem 0;

    @include breakpoint(large) {
      font-size: 1.5rem;
    }
  }

  a {
    display: inline-block;
    font-weight: 500;
    padding: 0 2rem 0 0;

    span {
      margin-left: 0.5rem;
      transition: $trans--short-out;
    }

    @include breakpoint(large) {
      &:hover {
        span {
          padding-left: 0.5rem;
          transition: $trans--short-out;
        }
      }
    }
  }
}
