.ValuesSection {
  grid-gap: 1.5rem;
  display: grid;
  min-height: 25em;

  @include breakpoint(medium) {
    grid-gap: 1rem;
    grid-template-rows: max-content 1fr;
    margin-bottom: 0;
    text-align: left;
  }

   @include breakpoint(large) {
    grid-gap: 1.5rem;
    margin: 4rem 0;
  }


  &__title {
    font-size: 1.5rem;
    font-weight: 600;

    @include breakpoint(large) {
      font-size: 2rem;
    }

    span {
      color: $color--resume;
    }

    @include breakpoint(medium) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      margin: 0;
    }

    @include breakpoint(large) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
  }

  &__values {
    display: grid;

    @include breakpoint(medium) {
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }

    &-item {
      margin-bottom: 1.5rem;
      padding: 1.25rem 1.25rem 1.25rem 0;
      position: relative;

      @include breakpoint(1440px) {
        margin-bottom: 1rem;
      }

      .bar {
        background: $color--resume;
        border-radius: 8px;
        bottom: 0.5rem;
        position: absolute;
        top: 0.5rem;
        width: 4px;
      }

      h4 {
        color: $color--resume;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        margin: 0 0 0.5rem 0;
        padding-left: 1rem;
      }


      p {
        color: $color--darkest-gray;
        font-weight: 400;
        margin: 0 !important;
        padding-left: 1rem;

        &.m-0 {
          font-weight: 400;
        }
      }
    }

    &-content {
      min-height: max-content;
      transition: $trans--short-in;
    }
  }
}
